{{ define "admin" }}

    {{ template "header" }}
    <main role="main" class="inner cover">
        <h1 class="cover-heading">Create an article</h1>
        <form action="/save_post" method="post">
            <input type="text" name="title" placeholder="article name" class="form-control"><br>
            <textarea name="announce" id="announce" class="form-control" placeholder="announce text"></textarea><br>
            <textarea name="full_text" id="full_text" class="form-control" placeholder="main text"></textarea><br>
            <button class="btn btn-warning">Create</button>
        </form>
    </main>
    {{ template "footer" }}
{{ end }}